# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Lists (yesterday's overflow) & Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [1]:
# string.lstrip()

#look on the left side, grab all space and 'h'

name = "        hJohn Smith"
print(name.lstrip(" " "hJ"))

ohn Smith

##### .rstrip()

In [2]:
# string.rstrip()

name = "Bill Ross     th"
print(name.rstrip(" " "th"))

Bill Ross

##### .strip()

In [3]:
# string.strip()

name = "       John Smith     th"
print(name.strip("  th"))

John Smi

##### .title()

In [4]:
# string.title()


president = "jOE a bidEn"
print(president.title())

Joe A Biden

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [61]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

#1printing required output.
for name in names:
    print(name.title().strip(" "))

#2 Appending to a new list
new_list = []
for name in names:
    new_list.append(name.title().strip())
print(new_list)

#3 Replacing the items in list directly
for i in range(len(names)):
    names [i] = names[i].strip().title()
print(names)

Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']
['Connor', 'Max', 'Evan', 'Jordan']

### Lists

##### Declaring Lists

In [10]:
l_1 = [] # Empty List Declaration


names = ['Max', 'Carrie', 'Kathy', 'Justin', 'Nate', 'Marcus', 'Joel']

print(names)

['Max', 'Carrie', 'Kathy', 'Justin', 'Nate', 'Marcus', 'Joel']

##### Indexing a List

In [11]:
# [start: stop: step] -- [-1]

#Single Index

print(names[0])

# Print starting at index 1 going to the end

print(names[1:])

#Print starting at beginning of list to N (n == the number we want to stop at)

print(names[:2])

# print starting at index 1 going up BY 2 in each iteration

print(names[1::2])

# print starting at the back and present in reverse order

print(names[::-1])

Max
['Carrie', 'Kathy', 'Justin', 'Nate', 'Marcus', 'Joel']
['Max', 'Carrie']
['Carrie', 'Justin', 'Marcus']
['Joel', 'Marcus', 'Nate', 'Justin', 'Kathy', 'Carrie', 'Max']

##### .append()

In [17]:
print(names)

names.append('Joey')

print(names)

['Max', 'Carrie', 'Kathy', 'Taty', 'Justin', 'Nate', 'Marcus', 'Joel', 'Joey', 'Joey', 'Joey']
['Max', 'Carrie', 'Kathy', 'Taty', 'Justin', 'Nate', 'Marcus', 'Joel', 'Joey', 'Joey', 'Joey', 'Joey']

##### .insert()

In [18]:
# list.insert(index,value)


names.insert(3,"Taty")
print(names)

#2 Tatys because I ran it twice....

['Max', 'Carrie', 'Kathy', 'Taty', 'Taty', 'Justin', 'Nate', 'Marcus', 'Joel', 'Joey', 'Joey', 'Joey', 'Joey']

##### .pop()

In [23]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

senior_instructor = names.pop()
print(senior_instructor)
print(names)

#Run many times to get rid of duplicates..

#You can pop a specific index you can

Joel
['Max', 'Carrie', 'Kathy', 'Taty', 'Taty', 'Justin', 'Nate', 'Marcus']


##### .remove()

In [34]:
# value to be removed , not index
while 'Justin' in names:
    print(names)
    names.remove('Justin')
    
print(names)

['Max', 'Carrie', 'Kathy', 'Taty', 'Taty', 'Nate', 'Marcus']

##### del()

In [35]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

del(names[1])

print(names)

['Max', 'Kathy', 'Taty', 'Taty', 'Nate', 'Marcus']

##### Reassigning a value by index

In [40]:
#Changing 'taty' to 'tatyana'
names[2] = 'Tatyana'

print(names)

['Max', 'Kathy', 'Tatyana', 'Taty', 'Nate', 'Marcus']

##### Concatenating Two Lists

In [41]:
# will append two lists together, not add up the elements in each list

l_2 = [0,1,2]
l_3 = [3,4,5]


large_list = l_2 + l_3

print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [42]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ["Max", "Sam","Josh",["Sally","Sue","Tameka"]]
names_2 = ["Max", "Sam","Josh",["Sally","Sue","Tameka"]]

print(names)
print(names[3][2])

# 3 is all of the inner list(sally to tameka)

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Tameka

##### Looping Through Lists

In [48]:
# two ways to loop through a list, one is by index, the other is by using the 'in' keyword

# Loop with a for loop (By Index)
for i in range(len(names)):
    if names[i] == names_2[i]:
        print('same names')
    
    
    
# Loop with a for loop (Using the 'in' keyword)
for name in names:
    print(name)

NameError: name 'names_2' is not defined

### Working With Lists

##### min()

In [62]:
# min(list)
numbers = [4,2,87,45,16,1,80]

print(min(numbers))

1

##### max()

In [63]:
# max(list)

print(max(numbers))

87

##### sum()

In [64]:
# sum(list)

print(sum(numbers))

235

##### sorted()

In [72]:
# sorted(list)

print (numbers)

sorted_numbers = sorted(numbers)
print(f'Original numbers list: {numbers}')
print(f'Sorted numbers list: {sorted_numbers}')

#alphabetical or ascending
print(sorted(['Nate','Zebra','Bravo','zebra','Justin','0'],))

[4, 2, 87, 45, 16, 1, 80]
Original numbers list: [4, 2, 87, 45, 16, 1, 80]
Sorted numbers list: [1, 2, 4, 16, 45, 80, 87]
['0', 'Bravo', 'Justin', 'Nate', 'Zebra', 'zebra']

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [74]:
# list.sort()

print(f'Before Sort: {numbers}')

numbers.sort()

print(f'After sort: {numbers}')
# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

Before Sort: [4, 2, 87, 45, 16, 1, 80]
After sort: [1, 2, 4, 16, 45, 80, 87]

##### Copying a List

In [76]:
# [:] copies a list, doesn't alter original

numbers_3 = numbers[:]

print(numbers_3)
print(numbers)

[1, 2, 4, 16, 45, 80, 87]
[1, 2, 4, 16, 45, 80, 87]

##### 'in' keyword

In [83]:
l_teachers = ['Joel', 'Derek', 'Nate', 'Brian', 'Marcus']

if 'Derek' in l_teachers:
    print('Derek is a teacher at CT')
else:
    print('Derek is not a teacher at CT')
    
for name in l_teachers:
    if 'B' in name:
        print("Name includes 'b'")
    else:
        print("Name does not include 'b' ")

for name in l_teachers:
    if 'B' in name[0]:
        print("This name starts with B")
    else:
        print("Does not start with B")

Derek is a teacher at CT
Name does not include 'b'
Name does not include 'b'
Name does not include 'b'
Name includes 'b'
Name does not include 'b'
Does not start with B
Does not start with B
Does not start with B
This name starts with B
Does not start with B

##### 'not in' keyword

In [84]:
if 'Nicole' not in l_teachers:
    print("Nicole is not an instructor!")

Nicole is not an instructor

##### Checking an Empty List

In [90]:
# if l_1: or if l_1 = []

l_2 = []
if l_2:
    print('It is a list with contents')
    
if l_2 == []:
    print("Empty list")

Empty list

##### Removing Instances with a Loop

In [91]:
# while, remove
names = ['Julia','Conner', 'Jeff', 'Alex', 'Julia','Rob', 'Julia', 'Claire']

while 'Julia' in names:
    names.remove('Julia')
    print(names)
print(names)

['Conner', 'Jeff', 'Alex', 'Julia', 'Rob', 'Julia', 'Claire']
['Conner', 'Jeff', 'Alex', 'Rob', 'Julia', 'Claire']
['Conner', 'Jeff', 'Alex', 'Rob', 'Claire']
['Conner', 'Jeff', 'Alex', 'Rob', 'Claire']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [98]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

new_names = []
for name in names:
    if name not in new_names: 
        new_names.append(name)
    

print(new_names)

for element in names:
    count = names.count(element)
    while count>1:
        names.remove(element)
        count -=1
print(names)

for i in names:
    no_dupes = list(set(names))
print(no_dupes)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']
['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']
[2, 3, 4, 'evan', 'connor', 'max', 'kevin', 'bob']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [102]:
# number comprehension

# With a regular for loop
nums = []

for i in range(100):
    nums.append(i)
print(nums)


# IN a list comprehension we have a few pieces:
# The first is the counter/ variable - IN this the variable is x
# Then we have an iterator for the variable 
# The finale part of a list comp is called the condition

print('\n')
#[variable(transformed), iterator, condition]

nums_comp = [i**2 for i in range(100) if i % 2 == 0]
print(nums_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]


[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [104]:
# square number comprehension

squares = [x**2 for x in range(10)]
print(squares)

squares_reg = []

#Comparable appending version

for x in range(10):
    squares_reg.append(x**2)
print(squares_reg)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [105]:
# string comprehension
names = ['Julia','Conner', 'Jeff', 'Alex', 'Julia','Rob', 'Julia', 'Claire']

first_char_comp = [name[0] for name in names]

print(first_char_comp)

# for loop version

first_char= []

for name in names:
    first_char.append(name[0])
print(first_char)

['J', 'C', 'J', 'A', 'J', 'R', 'J', 'C']

In [116]:
#Using the if statement.....'if' always comes after 'for'

c_names = [x for x in names if x[0] =='C']

#if first name at index xero is equal to 'c', 

print(c_names)

 #for loop version
c_reg = []
for first_name in names:
    if first_name[0] =='C':
        c_reg.append(first_name)
print(c_reg)

['Conner', 'Claire']
['Conner', 'Claire']

In [113]:
#else

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [122]:
tup_1 = 1,2,3 #first way to create a tuple
tup_2 = (1,2,3) #Another way to create a tuple

print(type(tup_1))
print(type(tup_2))

print(tup_1)

#Looping over a tuple
for number in tup_1:
    print(number)
    
#index loops
for i in range(len(tup_1)):
    print(tup_1[i])

<class 'tuple'>
<class 'tuple'>
(1, 2, 3)
1
2
3
1
2
3

##### sorted()

In [125]:
tup_3 = (20,5,1,3,9,45)

sorted_tup = (sorted(tup_3))

print(sorted_tup)

[1, 3, 5, 9, 20, 45]

##### Adding values to a Tuple

In [136]:
print(tup_1)

tup_1 = tup_1 + (-5,7,9,'Nate')
print(tup_1)

(1, 2, 3, 5, 5, 5, 7, 9, 5, 7, 9, 'Nate', -5, 7, 9, 'Nate')
(1, 2, 3, 5, 5, 5, 7, 9, 5, 7, 9, 'Nate', -5, 7, 9, 'Nate', -5, 7, 9, 'Nate')

## Functions

##### User-Defined vs. Built-In Functions

In [138]:
#User defined function

def hello_world():
    return"Hello World!"

#calling a function
print(hello_world())

#Showing the function in memory
print(hello_world)

Hello World!
<function hello_world at 0x000002B534B93700>

##### Accepting Parameters

In [143]:
# Order Matters.
#A variable can be any type of python object

def printFullName(first, last):
    return f"Hello {first} {last}!"

print(printFullName('Kagondu', 'Wai'))
print(printFullName('Wai', 'Kagondu'))

print(printFullName(last = 'Wai', first = 'Kagondu'))

Hello Kagondu Wai!
Hello Wai Kagondu!
Hello Kagondu Wai!

##### Default Parameters

In [145]:
#Default params must come after non-default params in definitions at all times

def printAgentName(first, last="Bond"):
    return f'The name is {first} {last}'

#Can be overwritten

print(printAgentName('James', 'Johnson'))

The name is James Johnson

##### Making an Argument Optional

In [162]:
def printHorseName (first, middle, last=''):
    if middle != "":
        return f'Hello {first} {middle} {last}'
    else:
        return f'Hello {first} {last}'

print(printHorseName('Mister', middle = 'Jake'))

Hello Mister Jake

##### Keyword Arguments

In [ ]:
# last_name='Max', first_name='Smith' in the function call

# see above

# Creating a start, stop, step function

In [168]:
def my_range(stop, start=0, step=1):
    for i in range(start, stop, step):
        print(i)
my_range(1000,900,10)

900
910
920
930
940
950
960
970
980
990

##### Returning Values

In [172]:
def addNums(num1, num2):
    return num1 +num2
addNums(5,4)

addition = addNums(5,4)

print(addition)

9

##### *args

##### *args / **kwargs (AKA KeyWord Args)

In [179]:
#args stands for arguments, takes in Any amount of arguments as Params
#must be last if multiple parameters are present

def printArgs(num1, *args, **kwargs):
    print(num1)
    print(args)
    print(kwargs)
    
    for arg in args:
        print(arg)
    
printArgs(12, 'Dragonzord', 'VAnilla',2,3, name='K', testing = 123 )

12
('Dragonzord', 'VAnilla', 2, 3)
{'name': 'K', 'testing': 123}
Dragonzord
VAnilla
2
3

##### Docstring

In [183]:
def printNames(list_1):
    """
        printNames[list_1]
        function requires a list to be passed as an argument
        and will print the contents of the list. Expecting a list of 
        names (strings) to be passed in
    """
    for name in list_1:
        print(name)

printNames(['Nate', 'Jonothan', 'Marcus'])

help(printNames)

Nate
Jonothan
Marcus
Help on function printNames in module __main__:

printNames(list_1)
    printNames[list_1]
    function requires a list to be passed as an argument
    and will print the contents of the list. Expecting a list of
    names (strings) to be passed in

##### Using a User Function in a Loop

In [184]:
def printInput(answer):
    print(answer)

while True:
    ask = input('What do you want to do? ')
    
    printInput(ask)
    
    response = input('Ready to quit??? Y/N ')
    if response.lower() == 'y':
        break

What do you want to do? play
play
Ready to quit??? Y/N no
What do you want to do? code
code
Ready to quit??? Y/N yes
What do you want to do? code
code
Ready to quit??? Y/N y

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [195]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

def fullNames(first_list, last_list):
    new_list = []
    for i in range(len(first_list)):
        new_list.append(first_list[i] + ' ' + last_list[i])
    return new_list

fullNames(first_name, last_name)

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [198]:
#placement of variable declaration matters
number = 3 # Global variable

def myFunc():
    num_3 = 6 # local function variable
    return num_3


#print(num_3) - causes error because variable is local to function

return_num = myFunc()

print(return_num)

names = ['nate', 'marcus', 'Jake']

for x in names:
    print(x)
    
print(x)

6
nate
marcus
Jake
Jake

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [1]:
# Use the following list - [1,11,14,5,8,9]


l_1 = [1,11,14,5,8,9]
new_list = []
def less_than_ten(items):
    for i in l_1:
        if i < 10:
            new_list.append(i)
    return new_list


print(less_than_ten(new_list))

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [3]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

new_list = []
def merged_list(items):
    new_list = l_1 + l_2
    return sorted(new_list)
    
print(merged_list(new_list))

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]